In [ ]:
# Outcome (Failure Column)
# 0 --> No failure (Machine will not undergo failure)
# 1 --> Failure (Machine will undergo failure)

In [1]:
#importing dependencies
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression  #to use logistic regression model
from sklearn.metrics import accuracy_score

In [2]:
#reading the data file
machine_data = pd.read_csv('data.csv')
machine_data

     footfall  tempMode  AQ  USS  CS  VOC  RP  IP  Temperature  fail
0           0         7   7    1   6    6  36   3            1     1
1         190         1   3    3   5    1  20   4            1     0
2          31         7   2    2   6    1  24   6            1     0
3          83         4   3    4   5    1  28   6            1     0
4         640         7   5    6   4    0  68   6            1     0
..        ...       ...  ..  ...  ..  ...  ..  ..          ...   ...
939         0         7   7    1   6    4  73   6           24     1
940         0         7   5    2   6    6  50   6           24     1
941         0         3   6    2   7    5  43   6           24     1
942         0         6   6    2   5    6  46   7           24     1
943        18         7   4    2   6    3  61   7           24     1

[944 rows x 10 columns]

In [3]:
machine_data.head()

   footfall  tempMode  AQ  USS  CS  VOC  RP  IP  Temperature  fail
0         0         7   7    1   6    6  36   3            1     1
1       190         1   3    3   5    1  20   4            1     0
2        31         7   2    2   6    1  24   6            1     0
3        83         4   3    4   5    1  28   6            1     0
4       640         7   5    6   4    0  68   6            1     0

In [4]:
machine_data.shape

(944, 10)

In [5]:
#checking for NULL values
print(machine_data.isnull().sum())

footfall       0
tempMode       0
AQ             0
USS            0
CS             0
VOC            0
RP             0
IP             0
Temperature    0
fail           0
dtype: int64

In [6]:
machine_data.describe()

,footfall,tempMode,AQ,USS,CS,VOC,RP,IP,Temperature,fail
count,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000
mean,306.381356,3.727754,4.325212,2.939619,5.394068,2.842161,47.043432,4.565678,16.331568,0.416314
std,1082.606745,2.677235,1.438436,1.383725,1.269349,2.273337,16.423130,1.599287,5.974781,0.493208
min,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,19.000000,1.000000,1.000000,0.000000
25%,1.000000,1.000000,3.000000,2.000000,5.000000,1.000000,34.000000,3.000000,14.000000,0.000000
50%,22.000000,3.000000,4.000000,3.000000,6.000000,2.000000,44.000000,4.000000,17.000000,0.000000
75%,110.000000,7.000000,6.000000,4.000000,6.000000,5.000000,58.000000,6.000000,21.000000,1.000000
max,7300.000000,7.000000,7.000000,7.000000,7.000000,6.000000,91.000000,7.000000,24.000000,1.000000

In [7]:
machine_data['fail'].value_counts()

fail
0    551
1    393
Name: count, dtype: int64

In [8]:
machine_data.groupby('fail').mean()

,footfall,tempMode,AQ,USS,CS,VOC,RP,IP,Temperature
fail,,,,,,,,,
0,373.150635,3.760436,3.617060,3.484574,5.373866,1.312160,46.299456,4.450091,15.372051
1,212.768448,3.681934,5.318066,2.175573,5.422392,4.987277,48.086514,4.727735,17.676845

In [9]:
#Separating data and labels
# axis = 1 if dropping column , axis = 0 if dropping a row
x = machine_data.drop(columns = 'fail', axis = 1)
y = machine_data['fail']
print(x)
print(y)

     footfall  tempMode  AQ  USS  CS  VOC  RP  IP  Temperature
0           0         7   7    1   6    6  36   3            1
1         190         1   3    3   5    1  20   4            1
2          31         7   2    2   6    1  24   6            1
3          83         4   3    4   5    1  28   6            1
4         640         7   5    6   4    0  68   6            1
..        ...       ...  ..  ...  ..  ...  ..  ..          ...
939         0         7   7    1   6    4  73   6           24
940         0         7   5    2   6    6  50   6           24
941         0         3   6    2   7    5  43   6           24
942         0         6   6    2   5    6  46   7           24
943        18         7   4    2   6    3  61   7           24

[944 rows x 9 columns]
0      1
1      0
2      0
3      0
4      0
      ..
939    1
940    1
941    1
942    1
943    1
Name: fail, Length: 944, dtype: int64

In [10]:
# Data Standardization
scaler =  StandardScaler()
scaler.fit(x)
standardized_data = scaler.transform(x)
print(standardized_data)

[[-0.28315338  1.22289631  1.86049689 ... -0.67278806 -0.97950413
  -2.56740712]
 [-0.10755803 -1.01941016 -0.92177489 ... -1.64754019 -0.35389391
  -2.56740712]
 [-0.25450362  1.22289631 -1.61734284 ... -1.40385216  0.89732651
  -2.56740712]
 ...
 [-0.28315338 -0.27197467  1.16492894 ... -0.24633401  0.89732651
   1.28414704]
 [-0.28315338  0.84917856  1.16492894 ... -0.06356798  1.52293673
   1.28414704]
 [-0.26651803  1.22289631 -0.22620695 ...  0.85026213  1.52293673
   1.28414704]]

In [11]:
# split data into training data and split data
# test_size 0.2 means 20% data is test data rest train
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, stratify = y, random_state=2)
print(x.shape,x_train.shape,x_test.shape)

(944, 9) (755, 9) (189, 9)

In [14]:
#Model Training ---> Logistics regression model
model = LogisticRegression()
model.fit(x_train,y_train)

C:\Users\dhrit\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [15]:
#model evaluation
#accuracy on training data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)#comparing prediction w original label
print("Training data accuracy :",training_data_accuracy)

#accuracy on test data
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)
print("Test data accuracy :",test_data_accuracy)

Training data accuracy : 0.9112582781456954
Test data accuracy : 0.91005291005291

In [ ]:
# The train_data and test_data accuracy are both high (around 91%). Hence we can move ahead with making a predictive system

In [19]:
#Making a predictive system because accuracy score is good
input_data = (190,1,3,3,5,1,20,4,1) #any data set values
# changing input as numpy array
input_data_as_numpy_array = np.asarray(input_data)
# reshaping the array as we are predicting only one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
# standardize the input data
std_data = scaler.transform(input_data_reshaped)

prediction = model.predict(std_data)
print(prediction)

if (prediction[0] == 0): #prediction is a list hence prediction[0]
    print("The machine will not undergo failure")
else:
    print("The machine will undergo failure")

[0]
The machine will not undergo failure

C:\Users\dhrit\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\dhrit\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(